@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}

button {
  cursor: pointer;
}

.font-bungee {
  font-family: 'Bungee', cursive;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

